<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.ericson.mapper.OrderMapper">

    <sql id="queryWhereName">
        <where>
            <if test="name!=null and name!=''">
                name like concat("%",#{name},"%")
            </if>
        </where>
    </sql>

    <select id="getRowCount" resultType="int">
        select count(*)
        from es_order
        <include refid="queryWhereName"/>
    </select>

    <select id="selectNamesById" resultType="Order">
        SELECT order_id,name
        FROM es_order
        <where>
            <if test="collection != null and collection">
                order_id in
                <foreach collection="collection" item="orderId" index="index" open="(" separator="," close=")">
                    #{orderId}
                </foreach>
            </if>
        </where>
    </select>

    <select id="selectNameById" resultType="String">
        SELECT name
        FROM es_order
        WHERE id = #{id}
    </select>

</mapper>