<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.ericson.mapper.RoleMapper">

    <select id="selectRolesNameById" resultType="Role">
        SELECT role_id,rolename
        FROM sys_role
        <where>
            <if test="collection != null and collection">
                role_id in
                <foreach collection="collection" item="roleId" index="index" open="(" separator=","
                    close=")">
                    #{roleId}
                </foreach>
            </if>
        </where>
    </select>
    
    <select id="selectRoleNameById" resultType="String">
        SELECT rolename
        FROM sys_role
        WHERE role_id = #{id}
    </select>

</mapper>