<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.ericson.mapper.UserMapper">

    <select id="selectUsersNameById" resultType="User">
        SELECT user_id,username
        FROM sys_user
        <where>
            <if test="collection != null and collection">
                user_id in
                <foreach collection="collection" item="userId" index="index" open="(" separator=","
                    close=")">
                    #{userId}
                </foreach>
            </if>
        </where>
    </select>

</mapper>