<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.ericson.mapper.CatMapper">

    <sql id="queryWhereName">
        <where>
            <if test="name!=null and name!=''">
                name like concat("%",#{name},"%")
            </if>
        </where>
    </sql>

    <select id="selectNamesById" resultType="Cat">
        SELECT cat_id,cat_name
        FROM es_cat
        <where>
            <if test="collection != null and collection">
                cat_id in
                <foreach collection="collection" item="id" index="index" open="(" separator=","
                    close=")">
                    #{id}
                </foreach>
            </if>
        </where>
    </select>

    <select id="selectNameById" resultType="String">
        SELECT cat_name
        FROM es_cat
        WHERE cat_id = #{id}
    </select>

</mapper>