<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.ericson.mapper.StoreMapper">

    <sql id="queryWhereName">
        <where>
            <if test="name!=null and name!=''">
                store_name like concat("%",#{name},"%")
            </if>
        </where>
    </sql>

    <select id="findPageObjects" resultType="Store">
        SELECT *
        FROM es_store
        <include refid="queryWhereName"/>
        ORDER BY ${orderBy} ${orderType}
        LIMIT #{start}, #{rows}
    </select>
    
    <select id="selectStoresNameById" resultType="Store">
        SELECT store_id,store_name
        FROM es_store
        <where>
            <if test="collection != null and collection">
                store_id in
                <foreach collection="collection" item="storeId" index="index" open="(" separator=","
                    close=")">
                    #{storeId}
                </foreach>
            </if>
        </where>
    </select>
    
    <select id="selectStoreNameById" resultType="String">
        SELECT store_name
        FROM es_store
        WHERE store_id = #{id}
    </select>


</mapper>