<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.ericson.mapper.SupplierMapper">

    <sql id="queryWhereName">
        <where>
            <if test="name!=null and name!=''">
                name like concat("%",#{name},"%")
            </if>
        </where>
    </sql>

    <select id="findPageObjects" resultType="Store">
        SELECT *
        FROM es_supplier
        <include refid="queryWhereName"/>
        ORDER BY ${orderBy} ${orderType}
        LIMIT #{start}, #{rows}
    </select>

    <select id="getRowCount" resultType="int">
        select count(*)
        from es_supplier
        <include refid="queryWhereName"/>
    </select>
    
    <select id="selectNamesById" resultType="Supplier">
        SELECT supplier_id,name
        FROM es_supplier
        <where>
            <if test="collection != null and collection">
                supplier_id in
                <foreach collection="collection" item="supplierId" index="index" open="(" separator=","
                    close=")">
                    #{supplierId}
                </foreach>
            </if>
        </where>
    </select>
    
    <select id="selectNameById" resultType="String">
        SELECT name
        FROM es_supplier
        WHERE supplier_id = #{id}
    </select>


</mapper>