<div class="row">
	<div class="col-xs-12">
		<div class="box">
			<div class="box-header">
				<h3 class="box-title">日志管理</h3>
				<div class="box-tools">
					<div class="input-group input-group-sm" style="width: 350px;">
						<input type="text" name="table_search" id="searchNameId"
							class="form-control pull-right" placeholder="用户名">

						<div class="input-group-btn">
							<button type="button" class="btn btn-default btn-search">
                                <i class="fa fa-search"></i>
							</button>
							<button type="button" class="btn btn-default btn-delete">删除</button>
						</div>
					</div>
				</div>
			</div>
			<!-- /.box-header -->
			<div class="box-body table-responsive no-padding">
				<table class="table table-hover">
					<thead>
						<tr>
						    <th><input type="checkbox" id="checkAll">全选</th>
							<th>用户名</th>
							<th>操作</th>
							<th>请求方法</th>
							<th>请求参数</th>
							<th>IP</th>
							<th>执行时长</th>
						</tr>
					</thead>
					<tbody id="tbodyId">
					    <tr>
					       <td colspan="7">数据正在加载中...</td>
					    </tr>
					</tbody>
				</table>
			</div>
			<div id="pageId" class="box-footer clearfix">
			
			</div>
			<!-- /.box-body -->
		</div>
		<!-- /.box -->
	</div>
</div>
<script type="text/javascript">

	/* 初始化加载页面 */
	
	// 加载日志信息的方法
	$("#pageId").load("doPageUI", doGetObjects);
	
	// 异步加载日志记录信息
	function doGetObjects() {
		// 取消所有选中状态
		$("#checkAll").prop("checked", false);
		//1.定义请求参数
		var pageCurrent = $("#pageId").data("pageCurrent");
		if (!pageCurrent) {
			pageCurrent = 1;
		}
		var params = {
			"pageCurrent" : pageCurrent
		}
		// 当点击查询按钮时,我们还需要向服务端传递一个username参数
		var uname = $("#searchNameId").val();
		if (uname) {
			params.username = uname;
		}
		//2.定义请求的url
		var url = "log/doFindPageObjects";
		//3.发送异步请求,并处理响应结果 function(result)是回调函数,待请求执行完毕再执行 result指的是返回的JsonResult
		$.getJSON(url, params, function(result) {
			console.log("result的值:", result);
			doHandleResponseResult(result);
		})
	}
	
	// 处理响应结果 解析JsonResult
	function doHandleResponseResult(result) {
		// 判断结果是否正常
		if (result.state == 1) {
			//1.更新日志列表数据
			doSetTableBodyRows(result.data.records);
			//2.更新分页数据 pageObject
			doSetPagination(result.data);
		} else {
			// 结果异常
			alert(result.message);
		}
	}

	// 更新日志列表数据
	function doSetTableBodyRows(records) {
		//1. 获取tbody对象并清空其内容
		var tBody = $("#tbodyId");
		tBody.empty();
		//2.迭代records日志记录,并将结果追加到tbody
		for (var i = 0; i < records.length; i++) {
			//2.1构建tr对象
			var tr = $("<tr></tr>");
			//2.2构建tds对象
			var tds = doCreateTds(records[i]);
			//2.3将tds追加到tr
			tr.append(tds);
			//2.4将tr追加到tbody
			tBody.append(tr);
		}
	}

	// 创建当前行的所有td对象
	function doCreateTds(data){
		var tds="<td><input type='checkbox' class='cBox' name='cItem' value='"+data.id+"'></td>"+
			"<td>"+data.username+"</td>"+
			"<td>"+data.operation+"</td>"+
			"<td>"+data.method+"</td>"+
			"<td>"+data.params+"</td>"+
			"<td>"+data.ip+"</td>"+
			"<td>"+data.time+"</td>";	   
		return tds;
	}

	
	/* 查询 */
	
	//在input-group-btn容器对象上注册点击事件
	$(".input-group-btn").on("click", ".btn-search", doQueryObjects)
		.on("click", ".btn-delete", doDeleteObjects);
	
	// 基于条件查询日志信息
	function doQueryObjects() {
		//1.初始化当前页码值
		$("#pageId").data("pageCurrent", 1);
		//2.执行异步查询操作
		doGetObjects();
	}
	
	/* 删除 */
	
	//执行删除操作
	function doDeleteObjects() {
		//1.定义请求参数
		//1.1获得用户选中的记录id,并进行校验
		var idArray = doGetCheckedIds();
		//debugger
		if (idArray.length == 0) {
			alert("请先选择");
			return;
		}
		//1.2给出删除提示
		if (!confirm("确认删除吗"))
			return;
		//1.3请求参数定义
		var params = {
			// 必须转化为串 例如1,2,3
			"ids" : idArray.toString()
		};
		//2.定义请求url
		var url = "log/doDeleteObjects";
		//3.发送异步请求
		$.post(url, params, function(result) {
			if (result.state == 1) {
				// 成功
				alert(result.message);
				// 刷新
				doRefreshAfterDelete();
			} else {
				// 失败
				alert(result.message);
			}
		})
	}

	//获取选中checkbox对象的id值
	function doGetCheckedIds() {
		//debugger
		//new Array();
		var idArray = [];
		$("#tbodyId input[type='checkbox']").each(function() {
			if ($(this).prop("checked")) {
				idArray.push($(this).val());
			}
		});
		return idArray;
	}
	
	// 定义删除以后的刷新操作(重点是业务分析)
	function doRefreshAfterDelete() {
		//1.获取当前页码值,总页数
		//data(key[,value])
		var pageCurrent = $("#pageId").data("pageCurrent");
		var pageCount = $("#pageId").data("pageCount");
		//2.获取Thead中checkbox对象的状态
		var isCheckedAll = $("#checkAll").prop("checked");
		//3.基于条件修改当前页码值并重新查询
		var isLastPage = (pageCurrent == pageCount);
		var isFirstPage = (pageCurrent == 1);
		if (isCheckedAll && isLastPage && !isFirstPage) {
			pageCurrent--;
			$("#pageId").data("pageCurrent", pageCurrent);
		} else if (isCheckedAll && isLastPage && isFirstPage) {
			$("#tbodyId").html("数据库已无记录");
			$("#checkAll").prop("checked", false)
			$(".rowCount").html("总记录数(0)");
			$(".pageCount").html("总记录数(0)");
			return;
		} else if (!isCheckedAll && isLastPage) {
			var rowCount = $("#pageId").data("rowCount");
			$("#tbodyId input[type='checkbox']").each(function() {
				if ($(this).prop("checked")) {
					$(this).parents("tr").remove();
					rowCount--;
				}
			})
			$(".rowCount").html("总记录数(" + rowCount + ")");
			$("#pageId").data("rowCount", rowCount);
			return;
		}
		doGetObjects();
	}

	/* 全选 */

	//全选按钮事件注册
	$("#checkAll").change(doChangeTBodyCheckBoxState);

	//修改tbody中checkbox对象的状态
	function doChangeTBodyCheckBoxState() {
		//1.获得全选对象的状态值
		var flag = $(this).prop("checked");
		//2.修改tbody中checkbox对象状态
		/* 
		$("#tbodyId input[name='cItem']")
			.each(function(){
			$(this).prop("checked",flag);
		}); */

		$("#tbodyId input[type='checkbox']").prop("checked", flag);
	}

	/* 反选 */
	
	// tbody中checkbox对象事件注册,用于修改全选框的值
	$("#tbodyId").on("change", ".cBox", doChangeTHeadCheckBoxState)

	//修改tHead中checkbox对象的状态
	function doChangeTHeadCheckBoxState() {
		//1.定义状态初始值.
		var flag = true;
		//2.迭代tbody中所有checkbox对象,并将其对象的状态值与flag变量进行逻辑与操作.
		$("#tbodyId input[type='checkbox']").each(function() {
			flag = flag && $(this).prop("checked");
		})
		//3.修改thead中checkbox对象状态
		$("#checkAll").prop("checked", flag);
	}
</script>






<!-- 
//JS 问题如何解决? console.log(),debugger,排除法
   $(function(){
	   /*
	   $("#pageId").load("doPageUI",function(){
	       doGetObjects();
	   });
	   */
	   $("#pageId").load("doPageUI",doGetObjects);
	   
	   //在input-group-btn容器对象上注册点击事件
	   $(".input-group-btn")
	   .on("click",".btn-search",doQueryObjects)
	   .on("click",".btn-delete",doDeleteObjects);
	   //全选按钮事件注册
	   $("#checkAll").change(doChangeTBodyCheckBoxState);
	   //tbody中checkbox对象事件注册
	   $("#tbodyId")
	   .on("change",".cBox",doChangeTHeadCheckBoxState)
   });
   
   
   
   
   
   

 -->
